---
layout: default
---

<div class="heading" id="toc">
  <h2>Table of contents</h2>
</div>
<div class="section" id="cfscript-loops">
  <div class="col">
    
    <h3>FOR Loop</h3>
    {% highlight html %}{% include cfscript/for.html %}{% endhighlight %}
	<br />
    <h3>FOR IN Loop</h3>
    {% highlight html %}{% include cfscript/forIN.html %}{% endhighlight %}

  </div>
 
  <div class="col">
    <h3>While Loop</h3>
    {% highlight html %}{% include cfscript/while.html %}{% endhighlight %}
 	<br />
    <h3>Do / While Loop</h3>
    {% highlight html %}{% include cfscript/dowhile.html %}{% endhighlight %}

  </div>
</div>

<div class="section" id="cfscript-conditions">
  <div class="col">
    
    <h3>If / Else If / Else</h3>
    {% highlight html %}{% include cfscript/ifelse.html %}{% endhighlight %}
	<br />
    <h3>Immediate If </h3>
    {% highlight html %}{% include cfscript/iif.html %}{% endhighlight %}

  </div>
 
  <div class="col">
    <h3>Switch Case</h3>
    {% highlight html %}{% include cfscript/switchcase.html %}{% endhighlight %}
 	<br />
    <h3>Ternary Operator</h3>
    {% highlight html %}{% include cfscript/ternaryoperator.html %}{% endhighlight %}

  </div>
</div>

<div class="section" id="cfscript-misc">
  <div class="col">
    
    <h3>Set Var </h3>
    {% highlight html %}{% include cfscript/setvar.html %}{% endhighlight %}
	<br />
    
    <h3>Single Line Comment </h3>
    {% highlight html %}{% include cfscript/singlelinecomment.html %}{% endhighlight %}
	<br />

	<h3>Save Content</h3>
    {% highlight html %}{% include cfscript/savecontent.html %}{% endhighlight %}
	
  </div>
 
  <div class="col">
    <h3>Include CFM File</h3>
    {% highlight html %}{% include cfscript/includecfmtemplate.html %}{% endhighlight %}
 	<br />
    
    <h3>Multi Line Comments</h3>
    {% highlight html %}{% include cfscript/multilinecomments.html %}{% endhighlight %}
	<br />
	
	<h3>Try / Catch / Throw / Finally / Rethrow</h3>
    {% highlight html %}{% include cfscript/try.html %}{% endhighlight %}

  </div>
</div>

<div class="section" id="cfscript-sql">
  <div class="col">
    
    <h3>Transactions</h3>
    {% highlight html %}{% include cfscript/transactions.html %}{% endhighlight %}
	<br />
    
    
	
  </div>
 
  <div class="col">
    

  </div>
</div>

<p>Tip: Don't forget to put a semicolon; at the end of each statement.</p>
